<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center no-padding>
  <h2 text-center>Welcome to Capture and Store!</h2>
  <h2 *ngIf="_user.loggedIn === true">
    Hello, {{ _user.appUser.firstName }}</h2>
    <div *ngIf="!_picService.previewImage.data">
      <img src="../../assets/imgs/picGif.gif"/>
      <h2 text-center>Start your creative adventure!</h2>
    </div>

  <div *ngIf="_picService.previewImage.data">
    <h3 text-center>Image Preview</h3>
    <ion-card>
      <img [src]="_picService.previewImage.data"/>
        <ion-card-content>
          <ion-card-title>
            <h2 text-left>{{ _picService.previewImage.title }}</h2>
            <p text-left>{{ _picService.previewImage.description }}</p>
          </ion-card-title>
        </ion-card-content>
    </ion-card>
  </div>
  
  <!-- <div *ngFor="let photo of _picService.photos | slice:-1">
    <h3 text-center>Last Picture Taken</h3>
    <ion-card>
        <img [src]="photo.data"/>
          <ion-card-content>
            <ion-card-title>
              <h2>{{ photo.title }}</h2>
              <p>{{ photo.description }}</p>
            </ion-card-title>
          </ion-card-content>
      </ion-card>
  </div> -->

</ion-content>
<ion-footer>
    <button ion-button block name="takePicture" (click)="takePicture()"><ion-icon name="camera"></ion-icon>Take Picture</button>
  </ion-footer>
